# Copie ce fichier en .env et remplis les valeurs
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
POSTGRES_URI=postgresql://user:password@localhost:5432/energy
